<% @page_title="Edit" %>
<h2 class="text-center text-5xl">Edit <%= resource_name.to_s.humanize %></h2>
<div class="bg-gray-100 mt-8 max-w-md mx-auto border-2 border-black">
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
		<div class="grid grid-cols-1 gap-6 py-6 px-6">
			<%= render "devise/shared/error_messages", resource: resource %>
			<div class="field">
				<%= f.label :first_name %><br />
				<%= f.text_field :first_name, autofocus: true, class: "mt-1 block w-full py-1 px-1 rounded border focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-transparent" %>
			</div>
			<div class="field">
				<%= f.label :last_name %><br />
				<%= f.text_field :last_name, autofocus: true, class: "mt-1 block w-full py-1 px-1 rounded border focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-transparent" %>
			</div>
			<div class="field">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full py-1 px-1 rounded border focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-transparent" %>
			</div>
			<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
			<% end %>
			<div class="field">
				<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
				<%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full py-1 px-1 rounded border focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-transparent" %>
				<% if @minimum_password_length %>
					<br />
					<em><%= @minimum_password_length %> characters minimum</em>
				<% end %>
			</div>
			<div class="field">
				<%= f.label :password_confirmation %><br />
				<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full py-1 px-1 rounded border focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-transparent" %>
			</div>
			<div class="field">
				<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
				<%= f.password_field :current_password, autocomplete: "current-password", class: "mt-1 block w-full py-1 px-1 rounded border focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-transparent" %>
			</div>
			<div class="actions">
				<%= f.submit "Update", class: "p-1 text-white cursor-pointer rounded bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50" %>
			</div>
		</div>
	<% end %>
</div>
<p class="text-center">
	<h3>Cancel my account</h3>
	<%= link_to "Back", :back %>| <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</p>
