<p id="notice"><%= notice %></p>
<% @page_title %>
<div class="bg-gray-100 mt-8 max-w-md mx-auto border-2 border-black">
	<div class="block py-4 px-4">
		<%= image_tag @gif.image_url %>
		<div class="font-bold mt-2">Uploaded by: <%= link_to @gif.user.name, @gif.user, class: "underline hover:bg-purple-300 hover:rounded-md hover:p-1" %></div>
		<div class="font-bold">Tags: <%= linked_tag_list @gif %></div>
		<div class="flex" data-controller="clipboard">
			<%= text_field_tag nil, full_gif_url(@gif), data: {'clipboard-target': "source" }, class: "mt-1 block w-1/2 rounded-md bg-blue-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 p-1" %>
			<button data-action="click->clipboard#copy" data-clipboard-target="button" class="rounded-md bg-purple-500 hover:bg-purple-300 pr-2 pl-2 mt-1 ml-2">Copy</button>
		</div>
		<div class="mt-2">
			<%= link_to 'Back', gifs_path, class: 'button bg-gray-300 py-1 px-4 rounded hover:bg-green-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50' %>
			<% if user_signed_in? && current_user === @gif.user %>
				| <%= link_to 'Edit', edit_gif_path(@gif), class: 'button bg-gray-300 py-1 px-4 rounded hover:bg-yellow-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50' %>
			<% end %>
		</div>
	</div>
</div>
